/* define color scheme */
:root {
  --header-background-color: white;
  --search-bar-color: whitesmoke;
  --search-type-color: lightgray;
  --search-button-color: #27ae60;
  --search-button-text-color: white;
  --body-background-color: gainsboro;
  --card-background-color: beige;
  --footer-background-color: darkslategrey;
  --footer-text-color: white;
  --text-color: black;
  --bold-text-color: black;
  --logo-background-color: #77a8a8;
  --logo-text-color: white;
}

/* general  */
html {
height: 100%;
width: 100%;
}

body {
  background-color: var(--body-background-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-background-color);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 999;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

.logo {
  border: none;
  background-color: var(--logo-background-color);
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  padding: 10px;
  color: var(--logo-text-color);
}

form {
  display: flex;
  flex-grow: 1;
}

#headerSearch {
  flex-grow: 1;
  border: none;
  margin-left: 10px;
  padding: 10px;
  background-color: var(--search-bar-color);
  border-radius: 5px 0px 0px 5px;
}

#headerSelect {
  padding: 10px;
  border: none;
  background-color: var(--search-type-color);
  border-radius: 0px 5px 5px 0px;
}

button {
  padding: 10px;
  border: none;
  background-color: var(--search-button-color);
  color: var(--search-button-text-color);
  cursor: pointer;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  padding-bottom: 36px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--footer-background-color);
  box-shadow: 0 -2px 4px rgba(0,0,0,.1);
  z-index: 999;
}

.footer-wrapper {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

#left-group, #right-group {
  font-size: 14px;
  color: var(--footer-text-color);
}

/* home genre lineup */
.genre {
  margin: 20px;
  background-color: var(--card-background-color);
  border-radius: 5px;
  padding: 10px;
}

.genre > p {
  text-align: center;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  color: var(--bold-text-color);
}

.scrolling-wrapper {
  overflow-x: scroll;
  white-space: nowrap;
}

.book {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.book img {
  width: 150px;
}

.book p {
  margin-top: 5px;
  color: var(--text-color);
}

/* search results */
.result-container {
  display: flex;
  flex-wrap: wrap;
}

.result-card {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  border-radius: 5px;
  text-align: justify;
  content-visibility: auto;
}

.result-card img {
  height: 225px;
  object-fit: fill;
  min-width: 150px;
  max-width: 150px;
  border-radius: 5px;
}

.result-text{
  height: 225px;
  overflow: auto;
  word-wrap: break-word;
  width: inherit;
  color: var(--text-color);
  background-color: var(--card-background-color);
  border-radius: 5px;
}

.result-card p {
  margin: 10px;
  padding: 5px;
}

.result-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--bold-text-color);
}

/* changes when screen is thinner */
@media (max-width: 600px) {
  .header-wrapper {
    flex-direction: column;
  }
  
  .logo {
    font-size: 20px;
  }

  #headerSearch {
    margin-left: 0;
  }
  
  .genre > p {
    font-size: 20px;
  }
  
  .result-title {
    font-size: 20px;
  }

  main {
    margin-top: 100px;
  }
}

@media (max-width: 400px) {
  button[type="submit"] {
    display: none;
  }
  
  main {
    padding-bottom: 52px;
  }
}

@media (max-width: 315px) {
  form {
    flex-direction: column;
  }

  #headerSearch {
  border-radius: 5px 5px 0px 0px;
  }

  #headerSelect {
  border-radius: 0px 0px 5px 5px;
  }

  main {
    margin-top: 135px;
  }

  .result-card img {
    min-width: 50%;
    max-width: 50%;
  }
}