html {
height: 100%;
width: 100%;
}

body {
  background-color: gainsboro;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 999;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

.logo {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

form {
  display: flex;
  flex-grow: 1;
}

#headerSearch {
  flex-grow: 1;
  border: none;
  margin-left: 10px;
  padding: 10px;
  background-color: #ecf6f8;
}

#headerSelect {
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
}

button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-bottom: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: darkslategrey;
  box-shadow: 0 -2px 4px rgba(0,0,0,.1);
  z-index: 999;
}

.footer-wrapper {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

#left-group, #right-group {
  font-size: 14px;
  color: white;
}

/* home genre lineup */
.genre {
  margin: 20px;
  background-color: beige;
  border-radius: 5px;
  padding: 10px;
}

.genre > p {
  text-align: center;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
}

.scrolling-wrapper {
  overflow-x: scroll;
  white-space: nowrap;
}

.book {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.book img {
  width: 150px;
}

.book p {
  margin-top: 5px;
}

/* search results */
.result-container {
  display: flex;
  flex-wrap: wrap;
}

.result-card {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  background-color: beige;
  border-radius: 5px;
  text-align: justify;
  content-visibility: auto;
}

.result-card img {
  height: 225px;
  width: 150px;
}

.result-text{
  height: 225px;
  overflow: auto;
  word-wrap: break-word;
}

.result-card p {
  margin: 10px;
  padding: 5px;
}

.result-title {
  font-size: 20px;
  font-weight: bold;
}

/* changes when screen is thinner */
@media (max-width: 600px) {
  .header-wrapper {
    flex-direction: column;
  }
  
  .logo {
    font-size: 20px;
  }

  #headerSearch {
    margin-left: 0;
  }
  
  .genre > p {
    font-size: 20px;
  }
  
  .result-title {
    font-size: 20px;
  }

  main {
    margin-top: 80px;
  }
}

@media (max-width: 400px) {
  button[type="submit"] {
    display: none;
  }
}